input
{
    width:12vw;
    height:10vh ;
    font-size: 5vw;
    font-weight: 100;
    margin: 1vw;
    color: #fff;
    background-color: #000;
    border-radius: 20px;  
}

#myform
{
    margin-left: 22vw;
    margin-top: 10vw;
}

h1
{
    text-align: center;
    font-size: 8vw;
}

#dis
{
    background-color: #fff;
    color: #000;
    width: 55vw;
    text-align: center;
}

#equal
{
    background-color: rgb(202, 17, 17);
}

#math
{
    background-color: #fff;
    color: #000;
}

